/*
    Custom Styles added to PoustResume Blazor WASM
*/
/* Base Styles for importing into other styles */
.responsive-image {
  width: 100%;
  height: auto;
}

.not-found-ref {
  margin-top: 24px;
}

.not-found-btn {
  font-size: 24px !important;
  margin-top: 28px;
  width: 200px !important;
}

.main {
  flex: 1;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

.desktop-content {
  padding-top: 4rem;
  margin-left: 1rem;
}

.sticky-nav {
  flex: 1;
  clear: both;
  overflow: hidden;
  height: 4rem;
  align-items: center;
  background-color: #424242;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky-nav.mobile-nav {
  height: 3.5rem;
}

.sticky-nav .nav-menu {
  float: right;
  margin-right: 2rem;
}

.sticky-nav .nav-logo {
  float: left;
}

.nav-logo > a > .nav-logo-logo {
  margin-left: 2.5rem;
  max-height: 3.5rem;
  margin-top: 0.25rem;
}
