<h1>Hi there, I'm Michael Poust</h1>
<h3>a Software Engineer based out of Central Pennsylvania.</h3>
<ul class="basic-info-links">
    <li>
        <span class="dot-separator"></span>
    </li>
    <li>
        <a href="/">Software Engineering</a>
    </li>
    <li>
        <span class="dot-separator"></span>
    </li>
    <li>
        <a href="/">Cloud Architecture</a>
    </li>
    <li>
        <span class="dot-separator"></span>
    </li>
    <li>
        <a href="/">Cyber Security</a>
    </li>
    <li>
        <span class="dot-separator"></span>
    </li>
</ul>
<TelerikButton Id="hire-me-btn">Hire Me</TelerikButton>