//  Base Styles for importing into other styles 
// 
//  NOTE: Inline comments are stripped in the compiled minified file in wwwroot/css

$app-primary: #39BCED;
$app-action: #F28C20;
$app-success: #80C869;

$primary-off-white: #FAF9F6;
$primary-dark: #121212;
$primary-grey: #424242;
$secondary-grey: #555555;

