/*
    Custom Styles added to PoustResume Blazor WASM
*/

//  NOTE: Inline comments are stripped in the compiled and minified file in wwwroot/css

@import 'base.scss';

.responsive-image{
    width: 100%;
    height: auto;
}

.not-found-ref{
    margin-top: 24px;
}

.not-found-btn{
    font-size: 24px !important; 
    margin-top: 28px;
    width: 200px !important;
}

.main{
    flex: 1;
}

.page{
    position: relative;
    display: flex;
    flex-direction: column;
}

.desktop-content{
    padding-top: 4rem;
    margin-left: 1rem;
}

//
// Navigation Bar
//
.sticky-nav {
    flex: 1;
    clear: both;
    overflow: hidden;
    height: 4rem;
    align-items: center;
    background-color: $primary-grey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky-nav.mobile-nav{
    height: 3.5rem;
}

.sticky-nav .nav-menu{
    float: right;
    margin-right: 2rem;
}

.sticky-nav .nav-logo{
    float: left;
}

.nav-logo > a > .nav-logo-logo {
    margin-left: 2.5rem;
    max-height: 3.5rem;
    margin-top: .25rem;
}

//
// Navigation Chips ref: https://codepen.io/debabrata100/pen/pOLyPW
//
.nav-chip {
    display: inline-flex;
    flex-direction: row;
    background-color: $secondary-grey;
    border: none;
    height: 36px;
    outline: none;
    padding-right: 20px;
    font-size: 14px;
    color: #ffffff;
    // font color?
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    margin-top: .4rem;
}

.nav-chip-head{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: $app-primary;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    // user-select
    border-radius: 50%;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: #ffffff;
    font-size: 20px;
    margin-right: 8px;
}

.nav-chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    // user-select
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

.k-menu-group{
    background-color: transparent;
}