<FlipCardComponent NavigationRoute="contracting">
    <FrontTemplate>
        <TelerikIcon Icon="cloud" Class="flip-card-icon"/>
        <h4 class="flip-card-title">Cloud Architecture</h4>
    </FrontTemplate>
    <BackTemplate>
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
    </BackTemplate>
</FlipCardComponent>