
<TelerikCard Class="what-i-do-card">
    <CardHeader>
        <CardTitle>Software Engineering</CardTitle>
    </CardHeader>
    <CardBody>
        <h1>BODY CONTENT</h1>
    </CardBody>
    <CardFooter>
        <div class="what-i-do-footer"></div>
    </CardFooter>
</TelerikCard>