@*
    Page to hold a contracting form for inquiries

    Will also include a link to the external Blog site (that will be used as a brain dump and contracting)
*@

@page "/contracting"

<h3>Contracting</h3>

@code {

}
