@*
    Page to display and link to external projects
*@

@page "/projects"

<h3>Projects</h3>

<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F6QiOy1edfsLdBDKtrEYODd%2FPoust-Ecom-V1%3Fnode-id%3D2%253A4" allowfullscreen></iframe>

@code {

}
