@*
    Simple layout for invalid routing and displaying of custom 404 page

    TODO: 4/10/2022 - Determine if I should make a NotFound Desktop and NotFound mobile to maintain Nav Bar states
*@

@layout TelerikLayout

@inherits LayoutComponentBase

<div class="page">
    @Body
</div>