@*
    Component to display basic info including:
        - Name
        - Position
        - Location
        - About me blurb (like LinkedIn headline)
*@

@inject DeviceState DeviceState

<TelerikGridLayout Class="basic-info-comp">
    <GridLayoutColumns>
        <GridLayoutColumn Width="75%"></GridLayoutColumn>
        <GridLayoutColumn Width="25%"></GridLayoutColumn>
    </GridLayoutColumns>
    <GridLayoutRows>
        <GridLayoutRow Height="100%"></GridLayoutRow>
    </GridLayoutRows>
    <GridLayoutItems>
        <GridLayoutItem>
            <h2>Hi there, I'm Michael Poust</h2>
            <h4>a Software Engineer based out of Central Pennsylvania.</h4>
            <p>* Software Engineer * Cloud Architect * Cyber Security Consultant *</p>
        </GridLayoutItem>
        <GridLayoutItem>
            <a href="https://linkedin.com/in/michael-poust">
                <img src="img/mpoust_square.jpg" 
                 class="profile-image @(DeviceState.GetDeviceState() ? "desktop-profile-image" : "mobile-profile-image")" 
                 alt="Michael Poust profile image"/>
            </a>
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>