@*
    Component to display basic info including:
    - Name
    - Position
    - Location
    - About me blurb (like LinkedIn headline)

    TODO: Font size on mobile using device state for class
*@

@inject DeviceState DeviceState

<TelerikGridLayout Class="basic-info-comp">
    <GridLayoutColumns>
        <GridLayoutColumn Width="75%"></GridLayoutColumn>
        <GridLayoutColumn Width="25%"></GridLayoutColumn>
    </GridLayoutColumns>
    <GridLayoutRows>
        <GridLayoutRow Height="100%"></GridLayoutRow>
    </GridLayoutRows>
    <GridLayoutItems>
        <GridLayoutItem Class="my-basic-info">
                <h1>Hi there, I'm Michael Poust</h1>
                <h3>a Software Engineer based out of Central Pennsylvania.</h3>
                <ul class="basic-info-links">
                    <li>
                        <span class="dot-separator"></span> 
                    </li>
                    <li>
                        <a href="/">Software Engineer</a>
                    </li>
                    <li>
                        <span class="dot-separator"></span> 
                    </li>
                    <li>
                        <a href="/">Cloud Architect</a>
                    </li>
                    <li>
                        <span class="dot-separator"></span> 
                    </li>
                    <li>
                        <a href="/">Cyber Security Consultant</a>
                    </li>
                    <li>
                        <span class="dot-separator"></span> 
                    </li>
                </ul>
        </GridLayoutItem>
        <GridLayoutItem>
            <a href="https://linkedin.com/in/michael-poust">
                <img src="img/mpoust_square.jpg"
                     class="profile-image @(DeviceState.GetDeviceState() ? "desktop-profile-image" : "mobile-profile-image")"
                     alt="Michael Poust profile image" />
            </a>
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>