@*
    Primary Resume Component

    Will contain multiple other components to display a visual representation of my resume. 

    Planned to display within a TelerikGrid or TelerikTileLayout

    TODO: Use DeviceState to determine layout and orientation of the components
*@

<h3>ResumeComponent</h3>

@code {

}
