@*
    Component to display primary skills.

    May display with Telerik Radial Guages or something similar

    This will have both Primary and Secondary Skills
*@

@inject DeviceState DeviceState

<h3 class="section-header">Skills</h3>

<TelerikTileLayout Columns="1"
                   ColumnWidth="fit-content"
                   RowHeight="25vh"
                   Resizable="false"
                   Reorderable="false"
                   Class="skills-tile-layout">
    <TileLayoutItems>
        <TileLayoutItem ColSpan="1" RowSpan="1">
            <Content>
                <SkillsCarouselComponent />
            </Content>
        </TileLayoutItem>
    </TileLayoutItems>
</TelerikTileLayout>

@code {

}
