@*
    Component to display primary skills. 

    May display with Telerik Radial Guages or something similar

    This will have both Primary and Secondary Skills
*@

<h3 class="section-header">Skills</h3>

@code {

}
