

<h3 id="what-i-do-header">My Services</h3>

<TelerikGridLayout Class="what-do-comp">
    <GridLayoutColumns>
        <GridLayoutColumn Width="33%"></GridLayoutColumn>
        <GridLayoutColumn Width="33%"></GridLayoutColumn>
        <GridLayoutColumn Width="33%"></GridLayoutColumn>
    </GridLayoutColumns>
    <GridLayoutRows>
        <GridLayoutRow Height="100%"></GridLayoutRow>
    </GridLayoutRows>
    <GridLayoutItems>
        <GridLayoutItem Class="what-do-item">
            <SoftwareEngineeringComponent/>
        </GridLayoutItem>
        <GridLayoutItem Class="what-do-item">
            <CloudArchitectureComponent/>
        </GridLayoutItem>
        <GridLayoutItem Class="what-do-item">
            <CyberSecurityComponent/>
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>