<h6>Software Engineer II - Product Owner</h6>
<h7>January 2022 - Present</h7>
<ul>
    <li>Lead a development team and scoped, planned, designed, and built a Single Sign On (SSO) solution for Avail’s key product offering. </li>
    <li>Lead cross functional teams in the product development process as defined by product strategy. </li>
    <li>Defined success criteria for individual product initiatives, participated in the scoping and estimation processes, and regularly communicated status to key stakeholders.</li>
</ul>

<h6>Software Engineer II</h6>
<h7>August 2021 - January 2022</h7>
<ul>
    <li>Facilitated customer migration from on-premises legacy applications to a modern cloud-hosted solution.</li>
    <li>Supported the deployment, integration, and testing of software applications.</li>
    <li>Assisted in deploying, debugging, and maintaining software applications at customer facilities.</li>
</ul>

<h6>Software Engineer I</h6>
<h7>July 2019 - August 2021</h7>
<ul>
    <li>Improved development, maintenance, and security of four legacy VBA and VB.NET applications.</li>
    <li>Defined a migration plan for integrating four key legacy applications into Avail’s next generation software</li>
    <li>Designed and implemented authentication, authorization, and navigation interface to Avail’s next generator software for a critical legacy application</li>
    <li>Normalized and consolidated 33 legacy databases while implementing encryption for categorized PII at a column level</li>
    <li>Designed and developed on-premises and cloud-based applications with an Azure SQL Database and .NET 5 API</li>
    <li>Participated in the full software lifecycle to design and develop software applications to meet customers’ requirements and desired functionality </li>
</ul>

@code {

}
