<h6>Independent Professional - Contract</h6>
<h7>July 2021 - Present</h7>
<ul>
    <li>Consulting on software architecture and data structure design, with an emphasis on information security.</li>
    <li>Plan, design, and develop custom software solutions for high-performing cloud hosted applications.</li>
</ul>

@code {

}
